// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h2 {
  margin-top: 40px;
}

h2 > span {
   padding: 16px;
   background-color: steelblue;
   border-radius: 8px;
   color: white;
 }

 .container {
   display: flex;
   flex-direction: column;
   justify-items: center;
   align-items: center;
 }

 body {
   background: #f4f4f4;
 }
